body  {
  /*background-image: url("background.jpg");*/
  background-repeat: no-repeat;
  background-color: #cccccc;
  background-size: cover;

  background-attachment: fixed;
  min-height: 100%;
}



h2{
	    font-weight: lighter;

	
}

#naslov{
	position:relative;
	top:150px;
    text-align:center;
    /*border-style:solid;*/
    /*border-width:0.1px;*/  
    /*border-color:#656565;*/
		width: 90%;
		height: 70px;
		margin: 0 auto;
		/*background-color:#656565 ;*/
	font-size: 3vw;
	font-family: Arial, Helvetica, sans-serif;
	color: black; 
	letter-spacing: 3px;
	font-weight: lighter;
}

#dugme {
		position:relative;
		top:150px;
		text-align:center;
		width: 40%;
		height:58px;
		margin: 0 auto;
		/*background-color:yellow;*/
	
}

#sentence{
		position:relative;
		top:150px;
	text-align:center;
    /*border-style:solid;*/
    /*border-width:0.1px;*/  
    /*border-color:#656565;*/
			width: 80%;
		height:80px;
		margin: 0 auto;
		/*background-color:#656565 ;*/
		font-size: 4vw;
		font-family: Arial, Helvetica, sans-serif;
		color:black;
			letter-spacing: 2px;
	font-weight: lighter;
	
}

.button {
  background-color: #e7e7e7; 
  border: none;
  color: black;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  border-radius: 4px;
font-family: Arial, Helvetica, sans-serif; 
  font-size: 2vw;
  max-width: 100%;
  
}
.button:hover {
  background-color: #656565;
  color: white;
}





