#govno{
	position:relative;
	top:150px;
    text-align:center;
    border-style:solid;
    border-width:2px;  
    border-color:red;
		width: 50%;
		height:90px;
		margin: 0 auto;
		background-color:#FFA500 ;
	font-size: 1.5vw;
}

#dugme {
		position:relative;
		top:150px;
	text-align:center;
    border-style:solid;
    border-width:2px;  
    border-color:red;
			width: 20%;
		height:50px;
		margin: 0 auto;
		background-color:yellow;
}

#sentence{
		position:relative;
		top:150px;
	text-align:center;
    border-style:solid;
    border-width:2px;  
    border-color:red;
			width: 50%;
		height:80px;
		margin: 0 auto;
		background-color:blue;
		font-size: 2vw;
	
}
