body  {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-color: #cccccc;
  background-size: cover;
	  width: 100%;
  height: auto;
}
h2{
	    font-weight: lighter;
	
}

#naslov{
	position:relative;
	top:150px;
    text-align:center;
    border-style:solid;
    border-width:0.1px;  
    border-color:#656565;
		width: 40%;
		height: 70px;
		margin: 0 auto;
		background-color:#656565 ;
	font-size: 1.4vw;
	font-family: 'Montserrat', sans-serif;
	color: #F5F0EF; 
	letter-spacing: 3px;
	font-weight: lighter;
}

#dugme {
		position:relative;
		top:150px;
	text-align:center;
    border-style:solid;
    border-width:2px;  
    border-color:red;
			width: 40%;
		height:60px;
		margin: 0 auto;
		/*background-color:yellow;*/
	
}

#sentence{
		position:relative;
		top:150px;
	text-align:center;
    border-style:solid;
    border-width:2px;  
    border-color:red;
			width: 50%;
		height:80px;
		margin: 0 auto;
		/*background-color:blue;*/
		font-size: 2vw;
		font-family: 'Special Elite', cursive;
	
}

.button {
  background-color: #e7e7e7; 
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  border-radius: 4px;
font-family: 'Montserrat', sans-serif;  
  font-size: 1.8vw;
  max-width: 100%;
}
.button:hover {
  background-color: #656565;
  color: white;
}


